@inherits RbInputTextBase


<div class="d-flex flex-row w-100 p-2 justify-content-start">
    <div class="flex-column w-100">
        <div class="d-flex flex-sm-row flex-column w-100">
            @if (!string.IsNullOrWhiteSpace(Label))
            {
                <div class="d-flex flex-row  justify-content-sm-start " style="width:5rem">
                    <label class="form-control-label  p-1 my-deepblue-color-text" for="@Id">@Label</label>
                </div>
            }

            <div class="d-flex flex-row justify-content-start  " style="width:100%">
                <input class="form-control @CssClass" id="@Id" @bind="@CurrentValue" />
            </div>

        </div>
        <div class="form-control-validation">
            <ValidationMessage For="@ValidationFor" />
        </div>
    </div>
</div>
@*<div class="form-control-wrapper">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="form-control-label" for="@Id">@Label</label>
    }
    <input class="form-control @CssClass" id="@Id" @bind="@CurrentValue" />
    <div class="form-control-validation">
        <ValidationMessage For="@ValidationFor" />
    </div>
</div>*@

